<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agsolutions.td">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/onetowerlogo"
        android:label="One Tower"
        android:roundIcon="@drawable/onetowerlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Main.PickMap"
            android:exported="false"/>

        <activity
            android:name=".Main.PickMode"
            android:exported="false"/>

        <activity
            android:name=".Main.StartItemsMenu"
            android:exported="false"/>

        <activity
            android:name=".Main.About"
            android:exported="false"/>

        <activity
            android:name=".Main.Highscore"
            android:exported="false"/>

        <activity
            android:name=".LogIn.Register"
            android:exported="false"/>

        <activity
            android:name=".LogIn.LogInScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GameActivity"
            android:exported="false"/>

        <activity
            android:name=".StartItems"
            android:exported="false"/>

        <activity
            android:name=".TutorialItems"
            android:exported="false"/>

        <activity
            android:name=".TutorialStart"
            android:exported="false"/>

        <activity
            android:name=".DisplayTutorialStart"
            android:exported="false"/>

        <activity
            android:name=".TutorialTalents"
            android:exported="false"/>

        <activity
            android:name=".TutorialGameEnd"
            android:exported="false"/>

        <activity
            android:name=".TutorialTouchScreen"
            android:exported="false"/>

        <activity
            android:name=".TutorialEnemies"
            android:exported="false"/>

        <activity
            android:name=".SecretShop"
            android:exported="false"/>

        <activity
            android:name=".Shop"
            android:exported="false"/>

        <activity
            android:name=".MysteryMessage"
            android:exported="false"/>

        <activity
            android:name=".CuttingStatsEvent"
            android:exported="false"/>

        <activity
            android:name=".Main.DisplayScale"
            android:exported="false"/>

        <activity
            android:name=".MidnightMadness"
            android:exported="false"/>

        <activity
            android:name=".GameMenu"
            android:exported="false"/>

        <activity
            android:name=".GameSettings"
            android:exported="false"/>

        <activity
            android:name=".GameWiki"
            android:exported="false"/>

        <activity
            android:name=".Main.Wiki"
            android:exported="false"/>

        <activity
            android:name=".GameEnd"
            android:exported="false"/>

        <activity
            android:name=".Talents"
            android:exported="false"/>

        <activity
            android:name=".Main.MainActivity"
            android:exported="false"/>

    </application>

</manifest>
